
        <form method="post">
            <div class="form-group">
                <label for="title">Category Title</label>
                <input class="form-control mb-3" type="text" name="titlecat" value="{{ titleCat }}">
                <button class="btn btn-primary" type="submit" value="Submit" name="addCat">Submit</button>
                <button class="btn btn-secondary" type="submit" value="Cancel" name="resetCat">Cancel</button>
            </div>

        </form>
        <div>
            {{ msg }}
        </div>
